:javascript
  $(document).ready(function() {
    $('.tag a, .ltag a').live("click", function(e) {
      loadByTag($(this).text());
      return false;
    })
  });

.list.oa.vtiny.fl
  - @tag_list.each_pair do |letter, tags|
    %span.letter= letter.upcase
    .bar
      - tags.each do |tag|
        .ltag
          = link_to tag, "#"

#page_content.fl{:style => "width:85%;"}
.cb