:javascript
  $(document).ready(function() {
    $('.tag a, .ltag a').on("click", function() {
      loadByTag($(this).text());
      return false;
    })
  });

.oa.fl.w14
  - @tag_list.each_pair do |letter, tags|
    .navbar-inner
      %span.letter= letter.upcase
      - tags.each do |tag|
        .ltag
          = link_to tag, "#"

.db.fl.w80
  #page_content.db.w100
.cb