:javascript
  $(document).ready(function() {
    $('.tag a, .ltag a').on("click", function() {
      loadByTag($(this).text());
      return false;
    })
  });

.oa.fl
  - @tag_list.each_pair do |letter, tags|
    .bar
      %span.letter= letter.upcase
      - tags.each do |tag|
        .ltag
          = link_to tag, "#"

.fl
  #page_content.db.w100