:javascript
  $(document).ready(function() {
    $('.tag a, .ltag a').live("click", function(e) {
      loadByTag($(this).text());
      return false;
    });

    var elem = (document.compatMode === "CSS1Compat") ?
        document.documentElement :
        document.body;
    var height = elem.clientHeight - 170;
    $('.list').css({height: height, position: 'fixed'});
  });

.list.oa.fl
  - @tag_list.each_pair do |letter, tags|
    %span.letter= letter.upcase
    .bar
      - tags.each do |tag|
        .ltag
          = link_to tag, "#"

#page_content.fl{:style => "width:85%; padding-left: 14.99%;"}
.cb