-#:javascript
-#  $(document).keydown(function(event) {
-#    if (event.which == 17) {
-#
-#    }
-#  });
-#
-#  $(document).keyup(function(event) {
-#    if (event.which == 17) {
-#
-#    }
-#  });

.w25.fl.db.oh.left.container.bgw
  = render :partial => "tags/cloud", :object => @cloud

.fl.db.w70

  #content.db.w100
.cb