iframe body
{
    background: #666666;
    margin: 2px;
}

p {
    background-color: #FFFFFF !important;
    border: 1px solid #E4E4E4 !important;
    margin: 10px 0 !important;
    padding: 10px !important;
}

p:before {
    content: 'p';
    font-size: 8pt;
    left: -8px;
    position: relative;
    top: -14px;
}
