 /*table.mceLayout, textarea {*/
    /*width:99.5%;*/
    /*height:300px;*/
    /*max-height:500px;*/
    /*max-width:99.5%;*/
/*}*/

 div[mce_name="code"], code {
     border: 2px solid black;
     display: block;
 }

#header li {
    list-style-image: url(/assets/ruby_list_mark.png);
}