@import 'mixins';

.box_wrapper {
  width: calc(33% - 10px);
  margin: 0 0 10px 10px;
}

.box-widget {
  @include bradius(10px);

  background-color: rgb(251,251,251);
  height: auto;
  border: 1px rgb(235,235,235) solid;

  .widget-icon {
    line-height: 0;
    opacity: 0.6;
    padding-right: 16px;
  }

  .box-widget-head {
    .date {
      div {
        padding: 0 2px;
        font-weight: bold;
      }

      .year {
        background-color: gold;
        font-size: 14px;
      }

      .month {
        font-size: 12px;
      }
    }

    .p0 { padding: 0; }

    .top {
      button, .btn {
        height: 40px;
        width: 44px;
        font-size: 19px;
      }

      a.btn {
        line-height: 26px;
      }
    }

    @extend .box_sizing;
    @include background_gradient(rgb(246,246,246), rgb(240,240,240));

    min-height: 28px;
    background-color: rgb(248,248,248);
    padding: 3px 6px;
    font-size: 14px;
    border-bottom: 1px rgb(220,220,220) solid;

    .btn-group {
      .btn {
        padding: 2px 4px;
      }
    }

    //.btn.btn-info, .btn.btn-success, .btn.btn-danger {
    //  padding: 3px 6px;
    //  font-size: 12px;
    //  font-weight: bold;
    //  color: white;
    //  line-height: 10px;
    //}
    //
    //.btn-close {
    //  border: 1px solid blue;
    //  font-weight: bold;
    //  line-height: 12px;
    //}

    .title {
      //text-indent: 10px;
      font-weight: bold;
      font-size: 15px;
      margin: 4px 0;
    }
  }

  &:hover .box-widget-head {
    background-color: rgb(242,242,242);
    @include background_gradient(rgb(242,242,242), rgb(232,232,232));
  }

  .box-widget-hide .box-widget-head {
    @include background_gradient(rgb(230,230,230), rgb(220,220,220));
  }

  .box-widget-body {
    @extend .box_sizing;

    cursor: pointer;
    word-wrap: break-word;
    padding: 10px;
    color: #666;

    p { font-size: 13px; }

    ol {
      margin: 6px 0;
      list-style: decimal;
      list-style-position: inside;

      li { font-size: 12px; }
    }
  }

  .box-widget-footer {
    @extend .box_sizing;

    padding: 5px 10px;
    font-size: 10px;
    //font-family:"OpenSansBold";
    color: #999;
    border-top: 1px rgb(244,244,244) solid;

    a {
      font-size: 14px;
      //line-height: 20px;
      color: white;
      font-weight: bold;
    }
  }
}
