:javascript
  $(window).ready(function() {init();});

  function init() {
    var clouder = document.getElementById('clouder');

    clouder.style.position = "fixed";
    clouder.style.overflow = "hidden";

    window.clouder = new Clouder({
        container: clouder,
        tags: new Array(#{cloud}),
        callback: loadByTag
    });
  }

#clouder{:style => "width:28%; height:28%;"}
