:javascript
  $(window).ready(function() {init();});

  function init() {
    var clouder = document.getElementById('clouder');

    clouder.style.position = "fixed";
    clouder.style.overflow = "hidden";

    window.clouder = new Clouder({
        container: clouder,
        tags: new Array(#{cloud}),
        callback: function(id) {
          $.ajax({ url: "/posts/index_by_tags.js?tags%5B%5D=" + id });
        }
    });
  }

#clouder{:style => "width:29%; height:300px;"}
