:javascript
  var tag_count = 0;
  var tag_html = '#{escape_javascript(render(:partial => "tags/tag", :locals => {:tag_name => "%1", :controls => true, :as_text => true} ))}'
  var tags_list = #{@tags.inspect};

  $(document).ready(function() {
    $('#tagger').keyup(function(event) {
      if(event.keyCode == '13') {
        var elem = $(this);
        var val = elem.val().replace(/[^\w|\-|а-яА-Я]/g,"");
        if (val.length > 0) {
          addTag(val.toLowerCase());
          elem.val('');
        }
      }
    }).typeahead({ source: tags_list });
  });

  function addTag(name) {
    var contain;

    if (contain = ($.inArray(name, tags_list) == -1)) {
      tags_list.push(name);
      $('#tagger').typeahead({ source: tags_list });
    }

    if (contain || $('.tag_name').filter(function(){ return $(this).text() === name;}).length == 0) {
      $('<input rel="tag" type="hidden" name="tag[' + tag_count++ + ']" value="' + name + '"/>').appendTo('.post_form');
      $('#tags_block').append(tag_html.replace(/%1/, name));
    }
  }

.fl
  %label Tags
  %p.sub Press 'Enter' for add tag
  %input#tagger{ :type => "text" }

#tags_block.fl
.cb
