%p.tag.fl
  -if as_text
    %span.tag_name= tag_name
  - else
    = link_to tag_name, index_by_tags_posts_path(:tags => [tag_name]), :class => "tag_name"
  - if controls
    %span
      = link_to image_tag('buttons/close.png', :size => "22x22"), "#", :onclick => "deleteTag(this); return false;", :rel => (post_id rescue nil)