-#.avatar
-#  = link_to image_tag post.topic.category.avatar, category_path(post.topic_id)
- if (defined?(topic_name))
  %p= topic_name
.title.fl
  %p.post_title.fl= post.name
  %p.fl= post.created_at
  .cb
.controls.fr
  = link_to "Edit", edit_post_path(post)
.cb