%div.content_block.bgw[post]
  = render :partial => "posts/post_header", :locals => {:post => post, :topic_name => post.topic.name}
  .content_block
    != post.pretty_preview
  .read_more= link_to "Read more", post_path(post)
  = render :partial => "tags/tag_list", :locals => {:post => post}

