.bar.post[post]
  = render :partial => "posts/post_header", :locals => {:post => post, :show_topic => true}
  %div
    != post.pretty_preview

  %div= render :partial => "tags/tag_list", :locals => {:post => post}

