= render :partial => "shared/highlight"

.htiny
  = render :partial => "posts/post_header", :locals => {:post => @post}
  .vtiny!= @post.pretty_body
  = render :partial => "tags/tag_list", :locals => {:post => @post}