= render :partial => "shared/highlight"

%div
  = render :partial => "posts/post_header", :locals => {:post => @post}
  %div!= @post.pretty_body
  = render :partial => "tags/tag_list", :locals => {:post => @post}