.inline {
    float: left;
}

.bar {
    background-image:-moz-linear-gradient(top,#FFFFFF,#F2F2F2);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#FFFFFF),to(#F2F2F2));
    background-image:-webkit-linear-gradient(top,#FFFFFF,#F2F2F2);
    background-image:-o-linear-gradient(top,#FFFFFF,#F2F2F2);
    background-image:linear-gradient(to bottom,#FFFFFF,#F2F2F2);
    filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffFFFFFF',endColorstr='#ffF2F2F2',GradientType=0);

    background-color: #FAFAFA;
    background-repeat: repeat-x;

    border: 1px solid #D4D4D4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 20px;
    padding: 5px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}