textarea, .redactor_box {
    width:99%;
    min-width:99%;
    max-width:99%;
}

.paginate .page.current{
    color: red;
    font-weight: bold;
}

.sub {
    font-size: 0.8em;
}

.controls, .lang_sign {
    padding: 5px;
}


/*tag*/

#tags_block {
    padding-left: 10px;
    max-width: 85%;
}

.tag {
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari, Chrome */
    -khtml-border-radius: 8px; /* KHTML */
    border-radius: 8px; /* CSS3 */

    padding: 2px 4px;
    margin: 4px;
    background-image: url(tag_background.png);
    font-weight: bold;
    min-width: 30px;
    text-align: center;
    color: white;
}

.tag a:hover {
    color: black !important;
}

.tag a,.paginate a, .tag span  {
    text-decoration: none;
    color: white;
}

/*post*/
.date {
    background: url("date.png") no-repeat;
    text-align: center;
    width: 50px;
    font-weight: bold;
    margin-right: 20px;
}

.day { font-size: 16px; color:white;}
.month {font-size: 14px;}
.year {font-size: 12px;}

.post_title {
    width: 80%;
    word-break: break-all;
    word-wrap: break-word;
}
.post_title h1 {margin: 0;}

.controls a:hover {text-decoration: none;}

#post_name {
    padding: 3px 0;
    width: 100%;
}

/*.post:gt(0) { margin-top: 15px; }*/
.post { margin-top: 15px; }
.post:first-child { margin-top: 0; }

