textarea {
    width:99%;
    height:300px;
    max-height:500px;
    min-width:99%;
    max-width:99%;
}

#header li {
    list-style-image: url(/assets/ruby_list_mark.png);
}

.categories li {
    list-style: none;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    width: 95%;
}
 .categories li a {
     font-weight: bold;
 }

.categories ul {
    padding: 0;
    margin: 0;
}

.accordion-heading .accordion-toggle {
    padding: 0 15px !important;
}

 #tags_block {
     padding-left: 10px;
     width: 85%;
 }

.btn-primary a{
    color:#fff!important;
}