textarea {
    width:99%;
    height:300px;
    max-height:500px;
    min-width:99%;
    max-width:99%;
}

#header li, .categories li {
    list-style-image: url(/assets/ruby_list_mark.png);
}

.categories li {
    background-color: #555555;
}

 .categories li a {
     font-weight: bold;
     color: white;
     text-decoration: none;
 }

 #tags_block {
     padding-left: 40px;
     width: 85%;
 }