body { background-color: #ffffff; }

#header ul {
    padding: 8px 40px;
    margin: inherit;
}

#logo {

}

#controls {

}

#content {
    min-height: 100%;
}

#body_wrapper {
    /*padding-bottom: 30px;*/
}

#footer {
    /*margin-bottom: -30px;*/
    line-height: 30px;
}

.content_block {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */

    padding: 4px;
    margin: 8px 4px;
}

.tag {
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari, Chrome */
    -khtml-border-radius: 8px; /* KHTML */
    border-radius: 8px; /* CSS3 */

    border: 1px solid black;
    padding: 3px;
    margin: 2px;
    background-image: url(/assets/tag_background.png);
    font-weight: bold;
}

.tag a,.paginate a  {
    text-decoration: none;
    color: white;
}

.paginate .page.current{
    color: red;
    font-weight: bold;
}

.sub {
    font-size: 0.8em;
}

.post_title {
    padding: 0 20px 0 0;
}

.controls, .lang_sign {
    padding: 5px;
}

/*tag cloud*/
    .css1 { font-size: 0.4em; color: #ff0000; }
    .css2 { font-size: 0.8em; color: #ffaf0f; }
    .css3 { font-size: 1.2em; color: #0078a3; }
    .css4 { font-size: 1.6em; color: #adaae6; }
    .css5 { font-size: 2.0em; color: #87ceeb; }
    .css6 { font-size: 2.4em; color: #7fffd4; }
/*end*/

