/*layout struct*/

html, body {
    height: 99%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*text-align: center;*/
    background-color: #ffffff;
}
#page {
    min-height: 99%;
    min-width: 400px;
    height: auto !important;
    height: 99%;
}
#wrap {
    padding-bottom: 30px;
    height: 99%;
}
#footer {
    line-height: 30px;
    margin-top: -30px;
    height: 30px;
    text-align: center;
}

/*navigation*/

.navi-inner { margin-left: 20px;}

.navi ul {
    list-style: none;
    margin-left: 20px;
}

.navi ul li {
    line-height: 30px;
}

li.mark {
    background: url(ruby_list_mark.png) no-repeat left center;
    padding: 0 25px;
}

/*body*/

.vtiny { margin-top: 20px; margin-bottom: 20px;}
.htiny { margin-left:20px; margin-right: 20px;}
.hltiny { margin-left:20px;}
.hrtiny { margin-right: 20px;}


/*page with cloud*/
#cloud {width:29.8%;}

/*page with list*/
.list {width:14.9%;}

.list span { margin-left: 48%;}

.post_left_column {
    width: 46%;
}