html, body {
    height: 99%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*text-align: center;*/
    background-color: #ffffff;
}
#page {
    min-height: 99%;
    min-width: 300px;
    height: auto !important;
    height: 99%;
}
#wrap {
    padding-bottom: 30px;
}
#footer {
    line-height: 30px;
    margin-top: -30px;
    height: 30px;
    text-align: center;
}