@mixin text-overflow($type) {
  -ms-text-overflow: $type;
  -o-text-overflow: $type;   /* Opera */
  text-overflow:    $type;   /* IE, Safari (WebKit) */
}

@mixin bradius($radius) {
  -moz-border-radius: $radius; /* Firefox */
  -webkit-border-radius: $radius; /* Safari, Chrome */
  -khtml-border-radius: $radius; /* KHTML */
  border-radius: $radius; /* CSS3 */
}

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}