@mixin lang-ico($name) {
  background: url('/assets/languages/' + $name + '.png') no-repeat;
}

@mixin text-overflow($type) {
  -ms-text-overflow: $type;
  -o-text-overflow: $type;   /* Opera */
  text-overflow:    $type;   /* IE, Safari (WebKit) */
}

@mixin bradius($radius) {
  -moz-border-radius: $radius; /* Firefox */
  -webkit-border-radius: $radius; /* Safari, Chrome */
  -khtml-border-radius: $radius; /* KHTML */
  border-radius: $radius; /* CSS3 */
}

@mixin background_gradient($from, $to) {
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
}

.box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}
