= simple_form_for @category ||= Category.new, url: categories_path, html: {id: 'category_form'} do |f|
  = render 'shared/errors', object: @post

  = f.input :name

  = f.input :icon, collection: Category::LANGS

