body .redactor_toolbar li a.redactor_btn_ruby_code {
    background: url(/assets/languages/ruby.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_css_code {
    background: url(/assets/languages/css.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_erb_code {
    background: url(/assets/languages/erb.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_haml_code {
    background: url(/assets/languages/haml.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_html_code {
    background: url(/assets/languages/html.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_javascript_code {
    background: url(/assets/languages/javascript.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_json_code {
    background: url(/assets/languages/json.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_sql_code {
    background: url(/assets/languages/sql.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_xml_code {
    background: url(/assets/languages/xml.png) center center no-repeat;
}

body .redactor_toolbar li a.redactor_btn_yaml_code {
    background: url(/assets/languages/yaml.png) center center no-repeat;
}