@import 'mixins';

body pre {
  overflow: visible;

  code {
    padding: 21px 0;
  }
}

.widget-icon {
  width: 16px;
  height: 16px;
}

.note-editable, .widget-icon {
  &.bash, & .bash { @include lang-ico('bash');}
  &.coffeescript, & .coffeescript { @include lang-ico('coffeescript');}
  &.css, & .css { @include lang-ico('css');}
  &.erb, & .erb { @include lang-ico('erb');}
  &.slim, & .slim { @include lang-ico('slim');}
  &.haml, & .haml { @include lang-ico('haml');}
  &.html, & .html { @include lang-ico('html');}
  &.javascript, & .javascript { @include lang-ico('javascript');}
  &.json, & .json { @include lang-ico('json');}
  &.ruby, & .ruby { @include lang-ico('ruby');}
  &.sql, & .sql { @include lang-ico('sql');}
  &.xml, & .xml { @include lang-ico('xml');}
  &.yaml, & .yaml { @include lang-ico('yaml');}

  //pre { margin-top: 10px;}
}

.post_body, .box-widget-body {
  cursor: pointer;

  pre {
    overflow: hidden;
    @include text-overflow(ellipsis);
    white-space: pre;
  }

  code {
    white-space: inherit;
  }
}
